<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mytestapplication">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.CoordinatoryLayoutActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.HtmlTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TabLayoutTestFragment"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ListViewTest"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TestScrollToActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.DataBindingTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ZhiHuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.cardviewdemo.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.WeiboActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.ToolBarTestActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.TitleGradeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.UCBrowserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.CanvansAndAnimalActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.activity.CalendarActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>